<header>
  <img src="/file.png" alt="Dad Joke Generator Logo" class="logo" />
  <h1>Dad Joke Generator</h1>
</header>

<main>
  <div class="joke-card {{if this.isLoading 'loading'}}">
    <p>{{this.joke}}</p>
    <button {{on "click" this.loadNewJoke}}>
      {{if this.isLoading "Finding a Dad Joke..." "Tell Me Another One! 😄"}}
    </button>
  </div>
</main>

<footer>
  <p>Made with 🤣 | &copy; 2024 Dad Joke Generator</p>
</footer>
